@charset "UTF-8";
html {
  font-family: 'Microsoft YaHei';
  background: #fafafa; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd {
  margin: 0;
  padding: 0; }

address, b, big, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, i, ins, small, strong, th, var {
  font-style: normal;
  font-weight: normal; }

input, button, select, textarea {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: Microsoft YaHei;
  outline: none; }

ol, ul {
  list-style: none; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a, a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.warn_tips {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 40px;
  background: #fff691;
  font-family: 'Arial';
  color: #010101;
  text-align: center;
  line-height: 40px; }

.warn_tips a {
  color: #676767;
  padding: 0 2px;
  zoom: 1; }

.warn_tips a:hover {
  text-decoration: underline; }

.height {
  height: 40px; }

/*登录开始*/
.gray-bg {
  background: #656565; }

.wrap {
  position: relative;
  width: 407px;
  margin: 80px auto 0; }

.bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 419px; }

.logo {
  display: block;
  z-index: 10;
  width: 132px;
  margin: 0 auto; }

.circle-word {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  width: 407px; }

.form {
  position: relative;
  z-index: 2;
  overflow: hidden; }

.email, .password {
  display: block;
  width: 255px;
  height: 38px;
  margin: 0 auto;
  border-radius: 5px;
  background: #f8f8f8;
  color: #848484;
  text-indent: 18px;
  font-size: 15px; }

.email {
  margin-top: 125px; }

.password {
  margin-top: 40px; }

.btn-wrap {
  position: relative;
  margin-top: 50px;
  text-align: center; }

.login-msg {
  position: absolute;
  top: -35px;
  left: 75px;
  color: #ffffff; }

input.login-btn {
  width: 90px;
  height: 38px;
  margin-right: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: none;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer; }

.forget-psw {
  font-size: 15px;
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer; }

.logo-act {
  -webkit-animation: logo 20s infinite;
  animation: logo 20s infinite; }

.logo-stop {
  -webkit-animation: none;
  animation: none; }

@-webkit-keyframes logo {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(360deg); }
  40% {
    transform: rotateZ(360deg); }
  60% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(0deg); } }
@keyframes logo {
  0% {
    transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(360deg); }
  40% {
    transform: rotateZ(360deg); }
  60% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(0deg); } }
/*登录完毕*/
.user_w {
  height: 40px;
  background: #e9e9e9;
  line-height: 40px; }

.user_l {
  float: right;
  margin-right: 150px;
  font-size: 14px; }

.user_name {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  background: url(../img/arrow_d.png) no-repeat right 18px;
  cursor: pointer; }

.user_name .list {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 9;
  overflow: hidden;
  width: 100px;
  background: #e9e9e9; }

.user_name:hover .list {
  display: block; }

.user_name .list li {
  border-top: 1px solid #ffffff; }

.user_name .list a {
  display: block;
  line-height: 30px;
  text-align: center; }

.user_name .list a:hover {
  background: #ffffff; }

.p_w {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 10;
  opacity: 0.8; }

.p_w:hover {
  opacity: 1; }

.p_w a {
  display: block;
  float: right;
  clear: both;
  overflow: hidden;
  height: 70px;
  width: 42px;
  margin-bottom: 1px;
  line-height: 70px;
  transition: width 0.2s; }

.msg-btn {
  border-top-left-radius: 5px;
  background: #e9e9e9 url(../img/message.png) no-repeat 10px center; }

.msg-btn:hover {
  width: 82px; }

.help-btn {
  border-bottom-left-radius: 5px;
  background: #e9e9e9 url(../img/help.png) no-repeat 10px center; }

.help-btn:hover {
  width: 82px; }

.p_w span {
  display: block;
  padding-left: 42px; }

.navigate {
  height: 100px;
  margin: 10px 20px 0;
  border-radius: 50px;
  background: #000000 url(../img/logo_w.png) no-repeat 130px center; }

.h_btn_w {
  position: relative;
  width: 537px;
  height: 100px;
  margin-left: 425px;
  background: url(../img/header.png) no-repeat 0 0; }

.h_btn_w div {
  position: absolute;
  width: 283px;
  background: url(../img/h_btn.png) no-repeat 0 0; }

.h_btn_w .b_w1 {
  left: 12px; }

.h_btn_w .b_w2 {
  left: 242px; }

.h_btn_w .hover {
  margin-top: 12px;
  margin-left: -8px;
  background: url(../img/h_btn_hover.png) no-repeat 0 0; }

.h_btn_w button {
  display: block;
  width: 240px;
  margin: 0 auto;
  border-top-left-radius: 102px;
  border-bottom-right-radius: 102px;
  line-height: 100px;
  color: #ffffff;
  font-size: 30px;
  cursor: pointer; }

.h_btn_w > div:hover, .h_btn_w .active {
  margin-top: 12px;
  margin-left: -8px;
  background: url(../img/h_btn_hover.png) no-repeat 0 0; }

.navigate img {
  width: 73px;
  margin-top: 15px;
  margin-left: 20px; }

.main {
  width: 1300px;
  margin: 45px auto 0; }

.main_l {
  float: left;
  width: 230px;
  background: #e9e9e9;
  font-size: 16px;
  line-height: 50px; }

.main_l li {
  background: url(../img/arrow_r.png) no-repeat 210px center;
  cursor: pointer; }

.main_l li:hover {
  background: #ffffff url(../img/arrow_r_h.png) no-repeat 210px center; }

.main_l li.active {
  background: #656565 url(../img/arrow_r_w.png) no-repeat 210px center; }

.main_l .li_c {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #ffffff; }

.main_l li span {
  display: block;
  padding-left: 55px;
  color: #555555; }

.main_l li.active span {
  color: #ffffff; }

.main_l .list {
  display: none;
  position: absolute;
  top: 0;
  left: 230px;
  border: 1px solid #eeeeee;
  border-left: none;
  background: #ffffff; }

.main_l .li_c:hover .list {
  display: block; }

.main_l .list a {
  display: block;
  width: 130px;
  height: 50px;
  padding-left: 45px; }

.main_l .list a:hover {
  background: #e9e9e9; }

.main_l .list a em {
  display: inline-block;
  padding-left: 10px;
  line-height: 1em; }

.main_l .list a.active em {
  border-left: 2px solid #555555; }

.main_l .li_t {
  padding-left: 0; }

.main_l .li_t a {
  display: block;
  height: 100%;
  padding-left: 55px;
  color: #555555; }

.bar1 {
  background: url(../img/overview.png) no-repeat 20px center; }

.active .bar1 {
  background: url(../img/overview_active.png) no-repeat 20px center; }

.bar2 {
  background: url(../img/client.png) no-repeat 20px center; }

.active .bar2 {
  background: url(../img/client_active.png) no-repeat 20px center; }

.bar3 {
  background: url(../img/close.png) no-repeat 20px center; }

.active .bar3 {
  background: url(../img/close_active.png) no-repeat 20px center; }

.bar4 {
  background: url(../img/hot.png) no-repeat 20px center; }

.active a.bar4 {
  background: url(../img/hot_active.png) no-repeat 20px center;
  color: #ffffff; }

.bar5 {
  background: url(../img/account.png) no-repeat 20px center; }

/*.active .bar5 {
  background: url(../img/account_active.png) no-repeat 20px center;
}*/
.active a.bar5 {
  background: url(../img/account_active.png) no-repeat 20px center;
  color: #ffffff; }

.bar6 {
  background: url(../img/home.png) no-repeat 20px center; }

.active .bar6 {
  background: url(../img/home_active.png) no-repeat 20px center; }

.bar7 {
  background: url(../img/device.png) no-repeat 20px center; }

.active a.bar7 {
  background: url(../img/device_active.png) no-repeat 20px center;
  color: #ffffff; }

.main_r {
  margin-left: 250px; }

.main_t {
  height: 50px;
  background: #656565; }

.main_t .title {
  float: left;
  margin-left: 15px;
  font-size: 16px;
  color: #ffffff;
  line-height: 50px; }

/*日历开始*/
.check-wrap {
  position: relative;
  float: right;
  width: 320px;
  height: 50px;
  padding-right: 15px;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }

.check-wrap-widen {
  width: 571px; }

.check-wrap-hidden {
  width: 511px; }

.check-type {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-right: 15px;
  padding: 0 12px;
  border-radius: 5px;
  background: #ffffff;
  line-height: 30px;
  color: #555555;
  font-size: 14px;
  cursor: pointer; }

.check-type span {
  vertical-align: middle; }

.check-type img {
  vertical-align: middle; }

.option-list {
  position: absolute;
  top: 31px;
  left: 0;
  z-index: 10;
  overflow: hidden;
  height: 0;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }

.option-list .option {
  margin-top: 2px;
  padding: 0 12px;
  border: 1px solid #656565;
  border-radius: 5px;
  background: #ffffff;
  line-height: 30px; }

.check-type:hover .option-list {
  height: 68px; }

.option-list .option:hover {
  background: #656565;
  color: #ffffff; }

.single-date, .multiple-date {
  float: left; }

.multiple-date {
  position: absolute;
  left: 137px;
  height: 42px;
  overflow: hidden; }

.multiple-date span {
  display: block;
  float: left;
  margin: 10px 5px 0;
  line-height: 30px;
  color: #ffffff; }

.date-value-wrap {
  float: left;
  width: 150px;
  margin-top: 10px;
  padding: 0 13px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: url(../img/select_d.png) no-repeat right center; }

.date-value-wrap input {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer; }

.multiple-date button {
  position: relative;
  float: left;
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000; }

.multiple-date button:active {
  top: 2px;
  left: 2px;
  background: #000000;
  box-shadow: 0 0 4px #000000; }

/*日历结束*/
/*概览开始*/
.main-con {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border: 1px solid #ededed;
  background: #ffffff; }

.main-left {
  float: left;
  width: 70%;
  border: 1px solid #ededed;
  background: #ffffff; }

.main-right {
  margin-left: 71%;
  border: 1px solid #ededed;
  border-radius: 5px;
  background: #ffffff; }

.main-title {
  padding: 0px 10px;
  border-bottom: 1px solid #ededed;
  line-height: 50px;
  font-size: 14px; }

.main-title span, .main-title img {
  vertical-align: middle; }

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  opacity: .2\0; }

.data-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px; }

.data-mark img {
  vertical-align: middle; }

.loading {
  -webkit-animation: load 5s infinite; }

@-webkit-keyframes load {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
.pass-number {
  text-align: center;
  font-size: 60px;
  color: #555555; }

.float-right {
  float: right;
  margin: 8px 10px 0; }

.detail-rank-btn {
  color: #7D869A; }

.chart {
  border-radius: 5px; }

.wait {
  display: block;
  margin: 0 auto; }

.inside-wrap, .in-rate-wrap {
  position: relative;
  float: left;
  width: 200px; }

.inside-number {
  position: absolute;
  top: 105px;
  left: 50px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  color: #555555; }

.inside-run-chart, .pass-run-chart {
  margin-left: 220px; }

.inside-rate {
  line-height: 2em;
  font-size: 40px;
  font-weight: bold;
  color: #555555; }

.heatmap {
  position: relative;
  height: 465px;
  background: #4c5059;
  line-height: 465px; }

.heatmap img {
  display: block;
  max-width: 1048px;
  max-height: 465px;
  margin: 0 auto; }

#heatmap {
  position: absolute !important;
  top: 0; }
  #heatmap div {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: #ffffff;
    opacity: 0;
    transition: all .3s;
    cursor: default; }
    #heatmap div:hover {
      opacity: 1; }

.a-date-con {
  display: none; }

.city-option-wrap {
  padding: 8px 10px;
  background: #ffffff; }

.store-option {
  float: left;
  color: #ffffff;
  line-height: 50px; }

.store-arrow {
  float: left;
  width: 50px;
  height: 50px;
  background: #7d869a;
  text-align: center;
  cursor: pointer; }

.store-title {
  overflow: hidden;
  width: 130px;
  border-top: 5px solid #54B23B;
  text-indent: 10px; }

.all-store-wrap {
  border-top: 1px solid #d4d4d4; }

.target-wrap {
  overflow: hidden;
  padding: 20px 0 10px; }

.target-block {
  float: left;
  min-width: 180px; }

.target-model img {
  width: 610px; }

.detail-target-btn {
  float: right;
  margin: 20px 20px 0 0;
  background: #a5afc2;
  color: #ffffff; }

.target-title {
  padding-left: 22px;
  font-size: 14px; }

.target-title span {
  vertical-align: middle; }

.target-title img {
  vertical-align: middle; }

.target-con {
  padding-left: 20px;
  border-left: 1px solid #ededed; }

.target-number {
  font-size: 18px;
  font-weight: bold; }

.target-supplement {
  font-size: 12px;
  color: #9b9b9b; }

.target-detail span:nth-child(2) {
  font-size: 12px;
  color: #9b9b9b; }

.store-rank {
  float: left;
  width: 190px; }

.target-rank-detail {
  margin-left: 190px; }

.target-rank-wrap table {
  width: 100%; }

.target-rank-wrap th {
  background: #f6f6f6;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  font-weight: normal;
  color: #7d8699;
  text-align: center; }

.target-rank-wrap td {
  height: 45px;
  text-align: center; }

.store-rank-line {
  display: inline-block;
  height: 25px;
  border-left: 3px solid #31be9f;
  vertical-align: middle; }

.store-rank-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #f3a14b;
  color: #ffffff;
  line-height: 25px;
  text-align: center;
  vertical-align: middle; }

.store-rank-name {
  font-size: 12px; }

.date-type-row {
  padding: 0 10px;
  line-height: 50px; }

.date-type-block {
  float: right;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 16px; }

.up-number {
  color: #f84f47; }

.down-number {
  color: #46a72d; }

.target-block-spe {
  width: 250px;
  padding-right: 10px; }

.target-diff {
  float: right; }

.target-diff th {
  font-size: 12px;
  color: #9b9b9b;
  text-align: center;
  font-weight: normal; }

.target-diff td {
  padding: 3px; }

.target-diff-l {
  background: #e0f6c9;
  color: #63bb4b; }

.target-diff-r {
  background: #7ed321;
  color: #ffffff; }

.target-block span:nth-child(3) {
  font-size: 12px;
  color: #9b9b9b; }

.main-body {
  padding-top: 20px; }

.customer-title {
  float: left;
  width: 210px;
  border-left: 5px solid #b8e986;
  line-height: 40px;
  font-weight: bold;
  text-indent: 20px; }

.custromer-detail {
  float: right;
  margin-right: 40px; }

tr.cd-new {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  line-height: 30px;
  font-size: 14px; }

.custromer-detail th {
  padding-bottom: 20px;
  color: #7d8699; }

.custromer-detail td {
  color: #9b9b9b;
  text-align: center; }

.custromer-detail td:nth-child(1) {
  text-align: left;
  text-indent: 30px; }

.custromer-detail td.cd-dot {
  text-indent: 16px; }

.cd-num {
  width: 60px; }

.cd-rate {
  width: 70px; }

.cd-long {
  width: 80px; }

.cd-times {
  width: 80px; }

.new-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #e0f6c9; }

.old-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #7ed321; }

.customer-detail-title {
  width: 80px; }

.customer-detail-number {
  text-align: right; }

.custromer-detail .cd-bold {
  color: #4a4a4a;
  font-size: 18px; }

.targt-wrap-spe .target-title {
  padding-bottom: 10px;
  font-size: 12px;
  color: #9b9b9b; }

.come-chart {
  float: left;
  width: 200px;
  text-align: center; }

.customer-title-spe {
  width: 110px; }

.device-middle {
  width: 80px;
  padding-right: 20px; }

.main_c {
  position: relative; }

/*概览结束*/
/*活跃度*/
.lv_btn_w {
  position: relative;
  z-index: 10;
  float: right;
  padding-right: 10px;
  font-size: 12px; }

.title_btn {
  display: inline-block;
  width: 64px;
  height: 30px;
  margin: 10px 5px;
  border-radius: 5px;
  background: #e9e9e9;
  line-height: 30px;
  text-align: center;
  color: #555555;
  cursor: pointer; }

.title_btn:hover {
  background: #ffffff;
  color: #555555; }

.title_btn.active {
  background: #000000;
  color: #ffffff; }

.lv_mon_op, .lv_qu_op {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  width: 200px;
  border-top: 10px solid #656565;
  background: #fafafa; }

#monthCheck:hover .lv_mon_op, #quarterCheck:hover .lv_qu_op {
  display: block; }

.lv_mon_op a, .lv_qu_op a {
  display: block;
  font-size: 16px;
  color: #555555;
  line-height: 30px; }

.lv_mon_op a:hover, .lv_qu_op a:hover {
  background: #ffffff; }

/*帐号管理*/
.account-option-wrap {
  color: #7d8699;
  line-height: 40px; }

.account-option-wrap li {
  overflow: hidden; }

.account-option-wrap li div:nth-child(1) {
  display: block;
  float: left;
  width: 180px;
  height: 40px;
  text-align: right; }

.account-option-wrap li div:nth-child(2) {
  float: left;
  margin-left: 20px; }

.account-option-wrap .edit-wrap {
  margin-left: 200px; }

.account-option-wrap li input {
  float: left;
  margin: 6px 5px 0 0;
  height: 30px;
  border: 1px solid #000000;
  text-indent: 5px; }

.account-option-wrap .can-edit {
  cursor: pointer; }

.account-option-wrap a {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
  background: #656565;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff; }

.account-option-wrap a:hover {
  background: #898989; }

.account-option-wrap a:active {
  background: #656565; }

#accountImage {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 10px; }

.account-option-wrap li.head-image-wrap div {
  overflow: hidden;
  height: 100px;
  line-height: 100px; }

.head-image-wrap div input {
  margin-top: 33px; }

.other-account-header > div {
  float: left;
  width: 120px;
  height: 42px;
  margin-top: 10px;
  line-height: 42px;
  border: 1px solid #a5afc2;
  border-bottom: none;
  text-align: center;
  color: #7d8699;
  font-size: 12px;
  cursor: pointer;
  line-height: 42px; }

div.oa-header-left {
  width: 30px;
  border: none;
  border-bottom: 1px solid #a5afc2;
  cursor: default; }

div.oa-header-right {
  float: none;
  width: auto;
  margin-left: 270px;
  border: none;
  border-bottom: 1px solid #a5afc2;
  cursor: default; }

.other-account-header div.no-active {
  background: #7d8699;
  color: #ffffff;
  border-left: none;
  border-right: none; }

.operate-row-title {
  float: left;
  padding: 0 20px;
  color: #7d8699;
  line-height: 40px; }

.operate-row {
  overflow: hidden;
  margin: 10px 0; }

.operate-btn-group {
  float: left;
  color: white; }

.operate-btn-group button {
  background: #d4d4d4; }

.account-list {
  width: 100%;
  text-align: center; }

.acc-list-header {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  line-height: 40px;
  color: #7d8699; }

.search-store-wrap {
  float: right;
  width: 300px; }

.as-title {
  float: left;
  padding-left: 20px;
  font-weight: bold;
  line-height: 40px; }

.as-operate-title {
  float: right;
  width: 200px;
  height: 40px;
  line-height: 60px; }

.as-operate-row {
  clear: both; }

.as-op-btn {
  float: right;
  width: 200px; }

.as-list {
  width: 100%;
  text-align: center;
  line-height: 40px; }

.as-list th:first-child, .as-list td:first-child {
  padding-left: 20px; }

.as-list tbody tr {
  line-height: 50px; }

.as-list tbody tr:hover {
  background: #d4d4d4; }

.i-blue {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #54b23b;
  color: #ffffff;
  font-size: 10px;
  line-height: 15px; }

.ap-left {
  float: left;
  width: 200px;
  margin-top: 40px; }

.ap-option-header {
  border-top: 1px solid #a5afc2;
  background: #f6f6f6;
  color: #9b9b9b;
  text-align: center;
  line-height: 30px; }

.ap-option-list {
  color: #7d8699;
  font-size: 12px;
  line-height: 25px; }

.ap-option-list li {
  height: 25px; }

.ap-option-list li:nth-child(2n+0) {
  background: #f3f5f9; }

.ap-option-list li:nth-child(2n+1) {
  background: #ffffff; }

.first-classify {
  padding-left: 10px; }

.second-classify {
  padding-left: 25px; }

.third-classify {
  padding-left: 40px; }

.fourth-classify {
  padding-left: 55px; }

.five-classify {
  padding-left: 70px; }

.ap-right {
  margin-left: 200px; }

div.ap-header-right {
  margin-left: 240px; }

.ap-operate-title {
  float: left;
  line-height: 50px; }

.ap-operate-title span {
  display: inline-block;
  padding: 0 20px; }

.getin-btn {
  margin-top: 10px; }

.ap-sign {
  display: inline-block;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  background: #54b23b;
  line-height: 16px;
  color: #ffffff; }

.ap-sign-bad {
  display: inline-block;
  width: 30px;
  height: 16px;
  border-radius: 8px;
  background: #000000;
  line-height: 16px;
  color: #ffffff; }

.oa-search {
  float: right;
  width: 220px;
  margin-right: 20px; }

.employee-tip {
  padding: 10px 20px;
  font-size: 12px;
  background: #d9f3fb;
  color: #7d8699;
  line-height: 20px; }

.employee-add-row {
  overflow: hidden;
  padding-left: 10px;
  border-bottom: 1px solid #dddddd; }

.employee-list {
  width: 100%;
  text-align: center;
  line-height: 40px; }

.employee-list th {
  text-align: center; }

.account-option-wrap button {
  padding: 0 10px;
  background: #656565;
  color: #ffffff;
  line-height: 30px;
  cursor: pointer; }

/*店铺*/
.main_c th {
  border-bottom: 1px solid #000000; }

.ch_pwd_w {
  width: 300px;
  height: 240px;
  margin-left: -150px;
  margin-top: -120px; }

.store_edit_btn {
  padding: 0 10px;
  background: #656565;
  color: #ffffff;
  line-height: 30px;
  cursor: pointer; }

.edit_store_w {
  width: 400px;
  height: 200px;
  margin-left: -200px;
  margin-top: -100px; }

.edit_store_w li {
  padding-left: 40px; }

#storeAddress {
  width: 200px; }

.employee-add-row .add-btn {
  float: right;
  margin: 10px;
  padding: 0 10px;
  background: #656565;
  color: #ffffff;
  line-height: 30px;
  cursor: pointer; }

.employee-list .btn {
  padding: 0 10px;
  background: #656565;
  color: #ffffff;
  cursor: pointer; }

.add_mac_w {
  width: 310px;
  height: 250px;
  margin-left: -165px;
  margin-top: -125px; }

.edit_mac_w {
  width: 310px;
  height: 300px;
  margin-left: -165px;
  margin-top: -150px; }

.edit_mac_w #number {
  border: none; }

.delete_mac_w {
  width: 200px; }

.delete_mac_w .btn_w {
  margin-top: 0;
  text-align: center; }

.delete_mac_w .btn {
  padding: 0 10px;
  background: #656565;
  color: #ffffff;
  cursor: pointer; }

/*反馈*/
.msg_w {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5); }

.msg_inner {
  position: relative;
  width: 758px;
  margin: 150px auto 0;
  -webkit-animation: msg 1s;
  animation: msg 1s; }

@-webkit-keyframes msg {
  from {
    left: 100%; }
  to {
    left: 0; } }
@keyframes msg {
  from {
    left: 100%; }
  to {
    left: 0; } }
.msg_title {
  background: #656565;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
  text-indent: 15px; }

.msg_con {
  padding: 20px;
  background: #ffffff; }

.msg_text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 155px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: #f7f7f7;
  color: #ababab;
  font-size: 18px;
  resize: none; }

.msg_tel {
  width: 286px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: #f7f7f7;
  color: #ababab;
  font-size: 18px; }

.msg_w a {
  display: inline-block;
  width: 110px;
  height: 40px;
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 5px;
  background: #949494;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 40px; }

.mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

/*弹框*/
.alert_w {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.6); }

.alert_c {
  margin: 150px auto 0;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px #ffffff; }

.alert_w .title {
  border-bottom: 1px solid #dddddd;
  color: #7d8699;
  font-size: 18px;
  text-align: center;
  line-height: 40px; }

.alert_c ul {
  padding-top: 20px; }

.alert_c li {
  font-size: 16px;
  line-height: 40px; }

.alert_c label {
  display: inline-block;
  width: 100px;
  text-align: right; }

.alert_c .btn_w {
  margin-top: 10px;
  text-align: center; }

.alert_c input {
  border: 1px solid #000000; }

.alert_c .btn_w input[type=button] {
  margin: 10px;
  padding: 0 10px;
  background: #656565;
  color: #ffffff;
  line-height: 30px;
  cursor: pointer; }

.page_w ul {
  float: right;
  margin: 10px 0; }

.page_w li {
  float: left;
  min-width: 22px;
  margin: 0 5px;
  cursor: pointer; }

.page_and_btn .hide {
  visibility: hidden; }

.page_w .cant {
  cursor: default; }

.page_w .active {
  cursor: default;
  text-decoration: underline; }

/*问号提示信息*/
.tip_w {
  visibility: hidden;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 168px;
  height: 124px;
  padding-left: 12px;
  padding-bottom: 18px;
  background: url(../img/dialog.png) no-repeat 0 0;
  background-size: 100%;
  color: #555555;
  transform-origin: 62px 100%;
  pointer-events: none; }

.tip_w span {
  display: table-cell;
  vertical-align: middle; }

@-webkit-keyframes dialog {
  from {
    transform: scale(0); }
  to {
    transform: scale(100%); } }
@keyframes dialog {
  from {
    transform: scale(0); }
  to {
    transform: scale(100%); } }
ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.datepicker-al {
  position: relative; }

.calendar-al {
  position: fixed;
  z-index: 9;
  width: 284px;
  font-family: Microsoft Yahei;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.al-t {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #000000;
  font-size: 16px; }

.al-btn {
  position: relative;
  background: #eeeeee;
  box-shadow: 0 0 4px #000000; }

.al-t-l {
  float: left;
  width: 42px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: bold;
  cursor: pointer; }

.al-t-m {
  margin: 0 45px;
  /*background: #363636;*/
  cursor: pointer; }

.al-t-r {
  float: right;
  width: 42px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  cursor: pointer; }

.al-btn:hover {
  background: #cccccc; }

.al-btn:active {
  top: 2px;
  background: #dddddd; }

.al-b {
  overflow: hidden;
  height: 274px;
  border-left: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  border-bottom: 2px solid #cccccc;
  background: #f6f6f6;
  box-shadow: 2px 2px #dfdfdf; }

.al-b table {
  width: 100%;
  text-align: center; }

.al-d-t {
  height: 30px;
  line-height: 32px;
  font-size: 14px;
  color: #363636;
  cursor: default; }

.al-d-t li {
  float: left;
  width: 40px;
  text-align: center; }

.al-d-b {
  border-spacing: 1px;
  font-size: 14px; }

.al-d-b td {
  position: relative;
  width: 38px;
  border: 1px solid #dbdbdb;
  background: #f6f6f6;
  line-height: 35px;
  cursor: default; }

.al-d-b td.unable {
  color: #acaeb1; }

.al-d-b td.able {
  color: #514949;
  cursor: pointer; }

.al-d-b td.able.active {
  background: #6deeee;
  color: #ffffff; }

.al-d-b td.able:hover {
  background: #c6c6c6;
  color: #ffffff; }

.al-d-b td.able:active {
  background: #000000;
  color: #ffffff; }

.al-d-b .today {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px; }

.al-month {
  margin-top: 30px;
  color: #000000; }

.al-month td {
  width: 25%;
  border: 1px solid #dbdbdb;
  line-height: 64px;
  cursor: pointer; }

.al-month td.active {
  background: #6deeee;
  color: #ffffff; }

.al-month td:hover {
  background: #c6c6c6;
  color: #ffffff; }

.al-month td:active {
  background: #000000; }

.al-year {
  padding-top: 30px;
  color: #000000; }

.al-year td {
  width: 25%;
  border: 1px solid #dbdbdb;
  line-height: 67px;
  font-size: 24px;
  cursor: pointer; }

.al-year td.active {
  background: #6deeee;
  color: #ffffff; }

.al-year td:hover {
  background: #c6c6c6;
  color: #ffffff; }

.al-year td:active {
  background: #c9e3ec; }

.al-quarter {
  padding-top: 7px;
  color: #000000; }

.al-quarter td {
  width: 50%;
  height: 125px;
  border: 1px solid #dbdbdb;
  font-size: 18px; }

.al-quarter td:hover {
  background: #c6c6c6;
  color: #ffffff; }

.al-quarter td.active {
  color: #ffffff;
  background: #c9e3ec; }

.wrap_404 h1, .wrap_404 p {
  text-align: center; }
.wrap_404 h1 {
  padding-top: 100px; }
.wrap_404 p {
  font-size: 30px; }
.wrap_404 div {
  text-align: center;
  line-height: 40px; }
.wrap_404 a {
  font-size: 20px;
  color: #000000; }

/*# sourceMappingURL=main.css.map */
